*.ipynb_checkpoints
__pycache__
backup
Results/MoveToBeacon/Checkpoints/
Results/MoveToBeacon/Inspection/
Results/CollectMineralShards/Checkpoints/
Results/CollectMineralShards/Checkpoints/
Results/FindAndDefeatZerglings/Checkpoints/
Results/FindAndDefeatZerglings/Checkpoints/


